@import "/public/pagefind/pagefind-ui.css";
@tailwind base;
@tailwind components;
@tailwind utilities;


.lg-react-element {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.pagefin-ui {
    overflow-x: hidden;
}
.pagefind-ui__drawer {
    background-color: white!important;
    border-radius: var(--pagefind-ui-border-radius)!important;
}
#search{
    min-width:12rem;
    align-items:flex-start!important;
}
.pagefind-ui__filter-panel-label{
    display: none!important;
}
.pagefind-ui__filter-panel{
    display: none!important;
}
.pagefind-ui__result {
    border-bottom: none!important;
}
.h1-center > h1,h2  {
    text-align: center;
}
.socialbtn > button {
    display: flex;
    align-items: center;
}
.socialbtn > button > svg {
    margin: 0.2rem;
}